<h1>Units List</h1>
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Unit Group Name</th>
    <tr>
  </thead>
  <tbody>
    <%= render partial: 'unit', collection: @units %>
  </tbody>
</table>
